.bgblue{background-color: blue!important;}
.bgfair{background-color: yellow!important;}
.bgblond{background-color: white!important;}
.bgyellow{background-color: yellow!important;}
.bggold{background-color: gold!important;}
.bgred{background-color: red!important;}
.bgwhiteblue{background-color: blue!important;}
.bgwhite{background-color: white!important;}
.bgnone{background-color: #fff0!important;}
.bgbrown{background-color: brown!important;}
.bglight{background-color: light!important;}
.bgbrowngrey{background-color: grey!important;}
.bgwhitered{background-color: red!important;}
.bgblack{background-color: black!important;}
.bgbluegray{background-color: blue!important;}
.bgauburnwhite{background-color: white!important;}
.bgauburngrey{background-color: grey!important;}
.bgunknown{background-color: black!important;}
.bggreen{background-color: green!important;}
.bgorange{background-color: orange!important;}
.bggreentanbrown{background-color: brown!important;}
.bghazel{background-color: white!important;}
.bgpale{background-color: green!important;}
.bggrey{background-color: grey!important;}
.bgmetal{background-color: gray!important;}
.bgdark{background-color: black!important;}
.bgbrownmottle{background-color: brown!important;}
.bgauburn{background-color: red!important;}
.bgmottledgreen{background-color: green!important;}
.bgbluegrey{background-color: blue!important;}
.bggreyred{background-color:  red!important;}
.bgpink{background-color: pink!important;}
.bggreyblue{background-color: grey!important;}
.bggreygreenyellow{background-color: yellow!important;}
.bgtan{background-color: tan!important;}
.bgfairgreenyellow{background-color: yellow!important;}
.bgblonde{background-color: white!important;}
.bgredblue{background-color: blue!important;}
.bgsilverred{background-color: red!important;}
.bggreengrey{background-color: grey!important;}
.bgredbluewhite{background-color: white!important;}
.bggreenyellow{background-color: yellow!important;}
.bgbrownwhite{background-color: white!important;}